
<!DOCTTYPE html>
<html>

<head>
  
</head>

<body>
  <div class="login">
    <h1>Macare_data_analysis</h1>
    
    <form action="{{ url_for('predict')}}"method="post">
    <input type="text" name="ITEM_VALCASH" placeholder="BRANCH_ID" required="required"/>
    <input type="text" name="DISCOUNT" placeholder="DISCOUNT" required="required"/>
    <input type="text" name="BRANCH_ID" placeholder="BRANCH_ID" required="required"/>
    <input type="text" name="BILL_AMT" placeholder="BILL_AMT" required="required"/>
    <input type="text" name="COST" placeholder="COST" required="required"/>
    <input type="text" name="CASH" placeholder="CASH" required="required"/>
    <input type="text" name="DOCTOR_ID" placeholder="DOCTOR_ID" required="required"/>

    <button type="submit" class="btn btn-primary btn_block btn_large">Count</button>
 </form>
 
 <br>
 <br>
 {{prediction_text}}
 
 </div>
 
 </body>
 </html>   




